.DS_store
node_modules/
.svelte-kit/
svelteapp/.svelte-kit/
package-lock.json
*.env
dist
mongodb/
mariadb/data/*
mariadb/init/*
nodemongo/
build/
CERTBOT/
goapp/app/nuts/
goapp/app/tmp/
goapp/app/nuts_tmp/
wiki/